
<!DOCTYPE html>
<html lang="en">
  
  <head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link 
      rel="stylesheet"
      href="../public/css/style.css"
    />
    <script defer src="https://amphoteric.herokuapp.com/socket.io/socket.io.js"></script>
    <script defer src="../public/js/script.js"></script>

  </head>

  <body>

    <div id="room-container">
      <% Object.keys(rooms).forEach(room => { %>
        <div><%= room %></div>
        <a href="/<%= room %>">Join</a>
      <% })%>
    </div>

    <form id="input-room" action="/room" method="POST">
      <input name="room" type="text" required>
      <button type="submit">New Room</button>
    </form>

  </body>
</html>