
<!DOCTYPE html>
<html lang="en">
  
  <head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Amphoteric</title>
    <link rel="icon" href="../public/img/logo.jpg"/>
    <link 
      rel="stylesheet"
      href="../public/css/style.css"
    />
    <script defer src="http://localhost:9999/socket.io/socket.io.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js" integrity="sha256-/H4YS+7aYb9kJ5OKhFYPUjSJdrtV6AeyJOtTkw6X72o=" crossorigin="anonymous"></script>
    <script defer type="module" src="../public/js/script.js"></script>

  </head>

  <body>

    <div class="head_div">
      <img class="head_img" src="../public/img/head.jpg">
    </div>

    <div id="center-content">
      <h1>WELCOME TO AMPHOTERIC</h1>
    </div>

    <div class="room-container">
      <h1>ROOMS:</h1>
      <% Object.keys(rooms).forEach(room => { %>
        <div class="room"><h2><%= room %></h2></div>
        <a class="room" href="/<%= room %>">Join</a><br><br>
      <% })%>
    </div>

    <div class="input-container">
      <form id="input-room" action="/room" method="POST">
        <input name="room" type="text" id="input" required>
        <button type="submit">New Room</button>
      </form>
    </div>

  </body>
</html>