
<!DOCTYPE html>
<html lang="en">
  
  <head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Amphoteric</title>
    <link rel="icon" href="../public/img/logo.jpg"/>
    <link 
      rel="stylesheet"
      href="../public/css/style.css"
    />
    <script defer src="http://www.amphoteric.herokuapp.com/socket.io/socket.io.js"></script>
    <script defer src="../public/js/script.js"></script>

  </head>

  <body>

    <div id="head_div">
<<<<<<< HEAD
      
=======
      <img src="../public/img/head.png" />
>>>>>>> 01772b8dd9d17f48eb11b7a5aea504d8fcda4778
    </div>

    <div class="bg">

      <div id="room-container">
<<<<<<< HEAD
        <h1>ROOMS:</h1>
=======
>>>>>>> 01772b8dd9d17f48eb11b7a5aea504d8fcda4778
        <% Object.keys(rooms).forEach(room => { %>
          <div class="room"><%= room %></div>
          <a class="room" href="/<%= room %>">Join</a><br><br>
        <% })%>
      </div>

<<<<<<< HEAD
      <div id="input-container">
=======
      <div class="bg">
>>>>>>> 01772b8dd9d17f48eb11b7a5aea504d8fcda4778
        <form id="input-room" action="/room" method="POST">
          <input name="room" type="text" id="input" required>
          <button type="submit">New Room</button>
        </form>
      </div>
    </div>
<<<<<<< HEAD

    <div id="center-content">

    </div>
=======
>>>>>>> 01772b8dd9d17f48eb11b7a5aea504d8fcda4778

  </body>
</html>
