
<!DOCTYPE html>
<html lang="en">
  
  <head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Amphoteric</title>
    <link rel="icon" href="../public/img/logo.jpg"/>
    <link 
    rel="stylesheet"
    href="../public/css/room.css"
    />
    <script defer src="https://amphoteric.herokuapp.com/socket.io/socket.io.js"></script>
    <script defer src="../public/js/script.js"></script>

  </head>

  <body>

    <div id="message">

      <div id="message-container"></div>

    </div>


    <div id="send">

      <form id="send-container">
        <input type="text" id="message-input">
        <button type="submit" id="send-button">Send</button>
      </form>

    </div>

  </body>
</html>