
* { background-color:#191919; color:white; margin:0; }

<<<<<<< HEAD
#message-container 
{ 
    top:10px; 
    left: 10px; 
    position: absolute; 
    text-align:center; 
}

=======
#message
{ 
    
}

#message-container 
{ 
    top:10px; 
    left: 10px; 
    position: absolute; 
    text-align:center; 
}

>>>>>>> 01772b8dd9d17f48eb11b7a5aea504d8fcda4778
#send 
{ 

    text-align: center;
    position:relative;
    top:88vh; 

}

<<<<<<< HEAD
.mnt
{
    display: contents;
=======
#send-container {


>>>>>>> 01772b8dd9d17f48eb11b7a5aea504d8fcda4778
}