
* { background-color:#191919; color:white; margin:0; }

#message-container 
{ 
    top:10px; 
    left: 10px; 
    position: absolute; 
    text-align:center; 
}

#send 
{ 

    text-align: center;
    position:relative;
    top:88vh; 

}

.mnt
{
    display: contents;
}