
* { background-color:#191919; color:#98ff00; margin:0; }

.head_img
{
    margin-top: 5px;
    margin-left: 5px;
    width: 99%;
    height: 300px;
    object-fit:cover;
    display: inline-block;
    position: relative;
    border-radius: 6px;
    border: solid #98ff00 3px;
}

.center-content {
    left: 5px;
    width: 85.1%;
    height: 40.5rem;
    border-radius: 6px;
    border: solid #98ff00 3px;
    position: relative;
    display: inline-block;
    overflow: auto;
    overflow-x: hidden;
    object-fit: cover;
    background-position-y: 70%;
    background-size: 100%, 100%;
    background-repeat: no-repeat;
    background-image: url('../img/a.gif');
}

.contents
{
    display: contents;
    text-align: center;
    background: transparent;
}

.room-container 
{
    width: 255px;
    height: 38.7rem;
    overflow: auto;
    overflow-x: hidden;
    margin-left: 5px;
    border-radius: 6px;
    border: solid #98ff00 3px;
    object-fit: cover;
    background-position: 50%, 50%;
    background-size: 100%, 100%;
    background-repeat: no-repeat;
    background-image: url('../img/b.gif');
    display: inline-block;
    position: absolute;
}

.room {
    display: contents
}

h1, h2, a
{
    position: relative;
    background: transparent;
}

.input-container 
{
    left: 5px;
    bottom: 8px;
    position: relative;
    display: inline-block;
}