
* { background-color:#191919; color:white; margin:0; }

<<<<<<< HEAD
=======
img
{
    margin-top:13px;
    margin-left:13px;
    border-radius: 5px;
}

#room-container { margin-top:13px; margin-left:13px; margin-left:100px; background-color: green; }

.room { background-color: green; }

.bg { height:101%; margin-top:12px; margin-left:13px; background-color: green; border-radius: 5px; display: inline-block; }
>>>>>>> 01772b8dd9d17f48eb11b7a5aea504d8fcda4778

